Repository yashguptaab99/task-management-application: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
	"backend/*.{js,ts}": ["eslint --fix"],
	"backend/*.{js,ts,json,md,html,css}": ["prettier --write"]
}

feat: cache and translation modules added
  .vscode/settings.json
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/core/cache/caching.module.ts
  backend/src/core/cache/caching.service.ts
  backend/src/core/cache/index.ts
  backend/src/core/decorators/index.ts
  backend/src/core/decorators/no-cache.decorator.ts
  backend/src/core/interceptors/cache.interceptor.ts
  backend/src/core/interceptors/index.ts
  backend/src/modules/app.module.ts
  backend/src/resources/docs/index.ts
  backend/src/resources/docs/types.ts
  backend/src/resources/i18n/constants/validator-messages.ts
  backend/src/resources/i18n/en/exceptions.json
  backend/src/resources/i18n/en/validations.json
  backend/src/resources/i18n/i18n.module.ts
  backend/src/resources/i18n/index.ts
Due: prettier --write

feat: database setup done
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/config/database/database.module.ts
  backend/src/config/database/database.service.ts
  backend/src/config/database/index.ts
  backend/src/modules/app.module.ts
Due: prettier --write

feat: setup health check module
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/modules/app.module.ts
  backend/src/modules/health/health.controller.ts
  backend/src/modules/health/health.module.ts
  backend/src/modules/health/service/health.service.ts
Due: prettier --write

feat: setup base repo, schema, service, and pagination
  backend/interfaces/base.types.ts
  backend/interfaces/id.types.ts
  backend/interfaces/pagination.types.ts
  backend/interfaces/query.types.ts
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/core/base/base.repository.ts
  backend/src/core/base/base.schema.ts
  backend/src/core/base/base.service.ts
  backend/src/core/base/index.ts
  backend/src/core/middlewares/index.ts
  backend/src/core/models/base-dto.model.ts
  backend/src/core/models/find-query.model.ts
  backend/src/core/models/index.ts
  backend/src/core/models/paginated-response.model.ts
  backend/src/core/models/pagination-query.model.ts
  backend/src/core/models/upsert-response.model.ts
  backend/src/core/pagination/index.ts
  backend/src/core/pagination/pagination-helper.ts
  backend/src/core/pagination/pagination.module.ts
Due: prettier --write

feat: setup query parser
  backend/src/core/middlewares/query-parser.middleware.ts
  backend/src/modules/app.module.ts
Due: none

feat: new utilities
  backend/src/core/utils/enum.util.ts
  backend/src/core/utils/index.ts
  backend/src/core/utils/string.util.ts
Due: none

feat: validator modules and rules
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/core/validator-rules/index.ts
  backend/src/core/validator-rules/no-empty-body.rule.ts
  backend/src/core/validator-rules/not-found.rule.ts
  backend/src/core/validator-rules/validator-rule.module.ts
  backend/src/core/validator-rules/verify-ids.rule.ts
  backend/src/modules/app.module.ts
Due: prettier --write

feat: added BaseUpdateDTO
  backend/src/core/models/base-dto.model.ts
Due: none

feat: added core exceptions
  backend/src/core/exceptions/header-resource-not-found.exception.ts
  backend/src/core/exceptions/index.ts
  backend/src/core/exceptions/not-found.exception.ts
Due: none

feat: added base verify interceptor
  backend/src/core/interceptors/base-verify-interceptor.ts
  backend/src/core/interceptors/index.ts
  backend/src/core/utils/index.ts
  backend/src/core/utils/validation.util.ts
Due: none

feat: added task module
  backend/interfaces/task.types.ts
  backend/src/modules/app.module.ts
  backend/src/modules/task/data/index.ts
  backend/src/modules/task/data/task-status.schema.ts
  backend/src/modules/task/data/task.repository.ts
  backend/src/modules/task/data/task.schema.ts
  backend/src/modules/task/dto/index.ts
  backend/src/modules/task/dto/task.request.dto.ts
  backend/src/modules/task/dto/task.response.dto.ts
  backend/src/modules/task/interceptors/index.ts
  backend/src/modules/task/interceptors/verify-task.interceptor.ts
  backend/src/modules/task/service/index.ts
  backend/src/modules/task/service/task.service.ts
  backend/src/modules/task/task.controller.ts
  backend/src/modules/task/task.module.ts
  backend/src/resources/docs/index.ts
  backend/src/resources/docs/task.docs.ts
Due: none

test: task service unit testing
  backend/jest.config.ts
  backend/mocks/task.mock.ts
  backend/package.json
  backend/src/modules/task/service/task.service.spec.ts
Due: eslint --fix, prettier --write

test: task module e2e tests
  backend/jest-e2e.config.js
  backend/package.json
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/task.e2e-spec.ts
  backend/test/utils/helpers.ts
  backend/test/utils/index.ts
  backend/test/utils/setup.ts
Due: eslint --fix, prettier --write

feat: added env sample
  frontend/.env.sample
Due: none

feat: setup routes, global loader and home page
  .vscode/settings.json
  frontend/src/App.tsx
  frontend/src/assets/img/logo.webp
  frontend/src/components/feedback/GlobalLoader/GlobalLoader.module.css
  frontend/src/components/feedback/GlobalLoader/GlobalLoader.tsx
  frontend/src/components/feedback/GlobalLoader/index.ts
  frontend/src/components/feedback/SuspenseLoader/SuspenseLoader.tsx
  frontend/src/components/feedback/SuspenseLoader/SuspenseLoader.types.ts
  frontend/src/components/feedback/SuspenseLoader/index.ts
  frontend/src/components/feedback/index.ts
  frontend/src/modules/home/index.ts
  frontend/src/modules/home/pages/HomePage/HomePage.tsx
  frontend/src/modules/home/pages/HomePage/index.ts
  frontend/src/routes/AppRoutes.tsx
  frontend/src/routes/Routes.tsx
  frontend/src/routes/paths/app-routes.paths.ts
  frontend/src/routes/paths/index.ts
Due: none

feat: setup application template
  frontend/src/common/configs/index.ts
  frontend/src/common/configs/meta-tags.config.ts
  frontend/src/common/i18n/en-US/index.ts
  frontend/src/common/i18n/en-US/translations/home.json
  frontend/src/components/core/PageMetaTags/PageMetaTags.tsx
  frontend/src/components/core/PageMetaTags/PageMetaTags.types.ts
  frontend/src/components/core/PageMetaTags/index.ts
  frontend/src/components/core/index.ts
  frontend/src/components/template/ApplicationPageTemplate/ApplicationPageTemplate.tsx
  frontend/src/components/template/ApplicationPageTemplate/ApplicationPageTemplate.types.ts
  frontend/src/components/template/ApplicationPageTemplate/index.ts
  frontend/src/components/template/index.ts
  frontend/src/modules/home/pages/HomePage/HomePage.tsx
Due: none

feat: added mantine appshell
  frontend/src/components/layout/AppShell/AppShell.tsx
  frontend/src/components/layout/AppShell/index.ts
  frontend/src/components/layout/Header/Header.tsx
  frontend/src/components/layout/Header/index.ts
  frontend/src/components/layout/index.ts
  frontend/src/routes/AppRoutes.tsx
Due: none

feat: new component TaskHeader
  frontend/src/common/i18n/en-US/translations/home.json
  frontend/src/components/layout/AppShell/AppShell.tsx
  frontend/src/modules/home/components/TaskHeader/TaskHeader.tsx
  frontend/src/modules/home/components/TaskHeader/index.ts
  frontend/src/modules/home/pages/HomePage/HomePage.tsx
Due: none

feat: added side drawer
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/overlay/Drawer/Drawer.tsx
  frontend/src/components/overlay/Drawer/Drawer.types.ts
  frontend/src/components/overlay/Drawer/index.ts
  frontend/src/components/overlay/index.ts
  frontend/src/data/store/app.atom.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAtomWithDisclosure.ts
  frontend/src/modules/home/components/TaskHeader/TaskHeader.tsx
  frontend/src/modules/home/pages/HomePage/HomePage.tsx
Due: none

feat: be interfaces to fe
  frontend/interfaces/base.types.ts
  frontend/interfaces/id.types.ts
  frontend/interfaces/pagination.types.ts
  frontend/interfaces/query.types.ts
  frontend/interfaces/task.types.ts
Due: none

feat: added forms translation
  frontend/src/common/i18n/en-US/index.ts
  frontend/src/common/i18n/en-US/translations/forms.json
  frontend/src/common/i18n/messages.ts
  frontend/tsconfig.json
Due: none

feat: loading button
  frontend/src/common/i18n/en-US/translations/forms.json
  frontend/src/common/i18n/en-US/translations/home.json
  frontend/src/components/core/LoadingButton/LoadingButton.tsx
  frontend/src/components/core/LoadingButton/LoadingButton.types.tsx
  frontend/src/components/core/LoadingButton/index.ts
  frontend/src/components/core/index.ts
  frontend/src/components/forms/DateInput/DateInput.tsx
Due: none

feat: task module ui
  frontend/src/common/i18n/en-US/translations/home.json
  frontend/src/common/utils/date.util.ts
  frontend/src/common/utils/format.utils.ts
  frontend/src/common/utils/index.ts
  frontend/src/components/inputs/SearchInput/SearchInput.module.css
  frontend/src/components/inputs/SearchInput/SearchInput.tsx
  frontend/src/components/inputs/SearchInput/SearchInput.types.ts
  frontend/src/components/inputs/SearchInput/index.ts
  frontend/src/components/inputs/index.ts
  frontend/src/data/store/app.atom.ts
  frontend/src/modules/home/components/TaskListItem/TaskListItem.module.css
  frontend/src/modules/home/components/TaskListItem/TaskListItem.tsx
  frontend/src/modules/home/components/TaskListItem/index.ts
  frontend/src/modules/home/components/TaskListItemForm/TaskListItemForm.types.ts
  frontend/src/modules/home/components/TaskListItemForm/index.tsx
  frontend/src/modules/home/components/TasklistToolbar/TasklistToolbar.module.css
  frontend/src/modules/home/components/TasklistToolbar/TasklistToolbar.tsx
  frontend/src/modules/home/components/TasklistToolbar/index.ts
  frontend/src/modules/home/components/index.ts
  frontend/src/modules/home/hooks/index.ts
  frontend/src/modules/home/hooks/useFilterParams.ts
  frontend/src/modules/home/hooks/useTaskListForm.ts
  frontend/src/modules/home/pages/HomePage/HomePage.module.css
  frontend/src/modules/home/pages/HomePage/HomePage.tsx
Due: none

feat: backend api integration fetch, create, update, delete
  .vscode/settings.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/common/configs/react-query.config.ts
  frontend/src/common/utils/index.ts
  frontend/src/common/utils/query.utils.ts
  frontend/src/common/utils/sort.utils.ts
  frontend/src/data/key-factories/index.ts
  frontend/src/data/key-factories/task.qkey.ts
  frontend/src/data/mutations/index.ts
  frontend/src/data/mutations/task.mutation.ts
  frontend/src/data/queries/index.ts
  frontend/src/data/queries/task.query.ts
  frontend/src/data/store/app.atom.ts
  frontend/src/modules/home/components/TaskHeader/TaskHeader.tsx
  frontend/src/modules/home/components/TaskListItem/TaskListItem.tsx
  frontend/src/modules/home/components/TaskListItemForm/TaskListItemForm.tsx
  frontend/src/modules/home/components/TaskSkeleton/TaskSkeleton.tsx
  frontend/src/modules/home/components/TaskSkeleton/index.ts
  frontend/src/modules/home/hooks/useTaskListForm.ts
  frontend/src/modules/home/pages/HomePage/HomePage.tsx
Due: none

feat: be integration status update
  frontend/src/data/mutations/task.mutation.ts
  frontend/src/modules/home/components/TaskListItem/TaskListItem.tsx
Due: none

feat: updated readme file
  README.md
Due: none
